<%= render 'hero' %>

<div class= "row">
  <div class="col-sm-4">
    <div class="box" id="hair">
      <ul>Hair</ul>
        <li class ="category-choices"><%= link_to "Braids", video_path(@braid) %></li>
        <li class ="category-choices"><%= link_to "Coloring", video_path(@color) %></li>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box" id="face">
      <ul>Face</ul>
        <li class ="category-choices"><%= link_to "Eyes", video_path(@eye) %></li>
        <li class ="category-choices"><%= link_to "Lips", video_path(@lip) %></li>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box" id="body">
      <ul>Body</ul>
        <li class ="category-choices"><%= link_to "Nails", video_path(@nail) %></li>
    </div>
  </div>
</div>