<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="//use.typekit.net/rxo4wpe.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <title>Beautytube</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <%= render 'nav-header' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
